@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600;800&display=swap');

* {
    box-sizing: border-box;
  }

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

[class*="col-"] {
  float: left;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

body {
  width: inherit;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

 /* || TOPNAV */ 
.topnav {
    float: left;
    width: 100vw;
    top: 0;
    position: fixed;
    z-index: 2;
    background: #4e7972;
}

.topnav a {
    float: left;
    text-align: center;
    padding: 2vh;
    text-decoration: none;
    color: #c3ceca;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 4vmin;

  }
  
  .topnav a:hover {
    color: 	#8dbaa0;
    font-weight: 600;
  }

  .current-menu-item {
    background:rgba(28,44,42,0.5);
    height: 100%;
  }

   /* || MAIN CONTENT */ 


 .about {
  background: linear-gradient(#E8F1EC, white);
}

#welcome {
  height: 110vh;
}

  #hello_image {
    float: left;
    padding-left: 3%;
    margin-top: 12%;
    width: 100%;
    height: auto;
  }

  #img-wrapper {
    float: right;
    width: 60vw;
    height: 60vw;
    border: 4px solid #4e7972;
    text-align: right;
    margin-right: 20vw;
    margin-top: -60vw;
    margin-bottom: 10vh;
  }

  #portrait {
    width: 60vw;
    height: 60vw;
    text-align: right;
    float: right;
    margin-right: 20vw;
    margin-top: 5vw;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  #about_text {
    margin-bottom: 25vh;
    font-size: 3.5vh;
    text-align: center;
    margin-top: 20vw;
    }

    .about p {
      font-family: Montserrat;
      font-weight: 300;
      font-size: 3vh;
      margin-left: 2.5vw;
      margin-right: 2.5vw;
    }

    #scroll_down_text{
      text-align: center;
    }

  #arrow {
    width: 30vw;
    margin-left: 35vw;
  }

  #arrow:hover {
    animation: bounce 1s;
  }

  @keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  
    80% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }

  #underfixed {
    position: absolute;
    margin-top: 3%;
  }
  
  #underfixed h1 {
      font-family: Montserrat;
      font-weight: 600;
      color: dimgray;
      font-size: 4vh;
      margin-bottom: 10px;
      padding-left: 1.5%;
      padding-bottom: 5vh;
  }

  #previous{
    padding-top: 10vh;
    margin-bottom: 5%;
  }

  #previous h2 {
    text-align: center;
    font-family: Montserrat;
    font-weight: 300;
    color: #518f81;
    font-size: 4vh;
    padding-left: 1.5%;
  }

  #previous p{
      float: left;
      font-size: 1.3vh;
      font-family: Montserrat;
      display: flex;
      align-self: center;
  }

  #previous img {
    margin-left: 20%;
  }

  .description{
    margin-left: 1.5%;
    padding-bottom: 2%;
    font-family: Montserrat;
    font-size: 2.3vh;
    text-align: left;
  }

  #left {
    margin-left: 8vw;
    margin-right: 10vw;
    height: auto;
    background: #D4DACA;
    border-radius: 2.5%;
    padding-bottom: 2.5%;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.3);
  }

  #right {
    float: right;
    margin-right: 8vw;
    margin-left: 10vw;
    background: #EEF0EA;
    height: auto;
    border-radius: 2.5%;
    padding-bottom: 2.5%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.3);
  }
  .inactive_project {
  opacity: 0.3;
  } 


  #contact-me {
    background: #E8F1EC;
    padding-top: 0.1vh;
  }
  
  #contact {
    text-align: justify;
    display: table;
    width: 100%;
    table-layout: fixed;
  } 

  #contact span {
    display: table-cell;
    text-align: center;
    font-family: Montserrat;
    padding-bottom: 3%;
  }

  .icon p {
    font-size: 2vh;
  }

  .icon a {
    color: black;
    text-decoration: none;
  }

  .icon img {
    height: 15%;
  }

  /* || BUTTON */
  button{
    border: none;
    background: none;
    outline:none;
    margin-left: 35%;
  }


  button:hover {
    transform: scale(1.1);
  }
  

  .button p {
    position: relative;
    font-family: Montserrat;
    color: black;
    font-weight: 300;
    text-align: left;
    z-index: 1;
    border-radius: 50%/25%;
    margin-left: -20%;
    font-size: 10vw;
  }

  /* || POPUP */ 
  .popup1 {
    background: rgba(100, 100, 100, 0.8);
    position: fixed;
    display: none;
    z-index: 1000;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .popup2 {
    background: rgba(100, 100, 100, 0.8);
    position: fixed;
    display: none;
    z-index: 1000;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  .popup3 {
    background: rgba(100, 100, 100, 0.8);
    position: fixed;
    display: none;
    z-index: 1000;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  #popup-window {
    position: fixed;
    padding: 2%;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(#000000, 0.4);
    width: auto;
    height: auto;
    left: 5%;
    right: 5%;
    top: 7%;
  }

  #popup-window p {
    font-size: 2.4vh;
    display: inline;
  }

  #popup-window a {
    font-family: Montserrat;
    font-size: 2.4vh;
    color: #518f81;
    text-decoration: none;

  }

  #popup-window video {
    margin-left: 10%;
  }

/* || POPUP BUTTON */ 
  .outer {
  position: absolute;
  top: 3%;
  right: 3%;
  margin: auto;
  width: 8vh;
  cursor: pointer;
  }

  .inner {
  width: inherit;
  text-align: center;
  }

  label { 
  font-family: Montserrat;  
  font-size: .8em; 
  line-height: 4em;
  text-transform: uppercase;
  color: black;
  transition: all .3s ease-in;
  opacity: 0;
  cursor: pointer;
  }

  .inner:before, .inner:after {
  position: absolute;
  content: '';
  height: 1px;
  width: inherit;
  background: #518f81;
  left: 0;
  transition: all .3s ease-in;
  }

  .inner:before {
  top: 50%; 
  transform: rotate(45deg);  
  }

  .inner:after {  
  bottom: 50%;
  transform: rotate(-45deg);  
  }

  .outer:hover label {
  opacity: 1;
  }

  .outer:hover .inner:before,
  .outer:hover .inner:after {
  transform: rotate(0);
  }

  .outer:hover .inner:before {
  top: 0;
  }

  .outer:hover .inner:after {
  bottom: 0;
  }


 /* || RESPONSIVE */ 

  @media only screen and (max-width: 700px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    #popup-window video {
      width: 100%;
  }
  }
  
  @media only screen and (min-width: 1030px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    #portrait {
      margin-left: 60vw;
      width: 40vh;
      height: 40vh;
    }

    #img-wrapper {
      margin-left: 60vw;
      width: 40vh;
      height: 40vh;
      margin-top: -40vh;
    }

    #arrow {
      width: 7vw;
      margin-left: 21.5vw;
    }

    #more_info_text {
      margin-top: -35vh;
      text-align: justify;
      font-size: 2.92vh;
    }

    #popup-window {
      width: 60%;
      height: auto;
      margin-left: 15%;
      margin-top: -1.5%;
    }

  }


 



