@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600;800&display=swap');

* {
    box-sizing: border-box;
  }

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

[class*="col-"] {
  float: left;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

body {
  width: inherit;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

img {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* TOPNAV
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.topnav {
    float: left;
    width: 100vw;
    top: 0;
    position: fixed;
    z-index: 10;
    background: #4e7972;
}

.topnav a {
    float: left;
    text-align: center;
    padding: 2vh;
    text-decoration: none;
    color: #c3ceca;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 4vmin;

  }
  
  .topnav a:hover {
    color: 	#8dbaa0;
    font-weight: 600;
  }

  .current-menu-item {
    background:rgba(28,44,42,0.5);
    height: 100%;
  }

/* WELCOME/ABOUT PAGE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

 .about {
  background: linear-gradient(#E8F1EC, white);
}

#welcome {
  height: 110vh;
}

  #hello_image {
    float: left;
    padding-left: 3%;
    margin-top: 12%;
    width: 100%;
    height: auto;
  }

  #img-wrapper {
    float: right;
    width: 60vw;
    height: 60vw;
    border: 4px solid #4e7972;
    text-align: right;
    margin-right: 20vw;
    margin-top: -60vw;
    margin-bottom: 10vh;
  }

  #portrait {
    width: 60vw;
    height: 60vw;
    text-align: right;
    float: right;
    margin-right: 20vw;
    margin-top: 5vw;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  #about_text {
    margin-bottom: 25vh;
    font-size: 3.5vh;
    text-align: center;
    margin-top: 20vw;
    }

  .about p {
      font-family: Montserrat;
      font-weight: 300;
      font-size: 3vh;
      margin-left: 2.5vw;
      margin-right: 2.5vw;
    }

  #scroll_down_text{
      text-align: center;
    }

  #arrow {
    width: 30vw;
    margin-left: 35vw;
  }

  #arrow:hover {
    animation: bounce 1s;
  }

  @keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  
    80% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }

  /* PREVIOUS PROJECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

  #underfixed {
    position: absolute;
    margin-top: 3%;
  }

  #previous{
    padding-top: 20vh;
    height: max-content;
  }

  #right {
    float: right;
  }

  /* Texts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  #underfixed h1 {
      font-family: Montserrat;
      font-weight: 600;
      color: dimgray;
      font-size: 4vh;
      margin-bottom: 10px;
      padding-left: 3%;
      padding-bottom: 5vh;
  }

  #previous h2 {
    text-align: center;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 4vh;
  }

  #previous h3 {
    text-align: center;
    font-family: Montserrat;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 2.5vh;
  }

  #description{
    font-size: 2.8vh;
    font-family: Montserrat;
    display: flex;
    text-align: justify; 
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }

  #project-description {
    margin-top: -50vh;
  }

  .Eye h2 {
    color: #1551AB;
  }

  .Eye h3 {
    color: #56BBEE;
  }

  .Eye {
    margin-bottom: 10%;
  }

  .Peace h2 {
      color: #586A98;
    }

  .Peace h3 {
    color: #5C92E5;
  }

  .Thunderball h2 {
    color: #155263;
  }

  .Thunderball h3 {
    color: #90ACAE;
  }

  #gradient-1 {
    height: 20vh;
    background: linear-gradient(white, #3a709146)
  }

  #gradient-2 {
    height: 20vh;
    background: linear-gradient(#3a709146, white)
  }

  .Peace {
    padding-top: 5%;
    background: #3a709146;
    padding-bottom: 10%;
  }

  .Thunderball {
    margin-bottom: 30vh;
  }

  .fadeinleft {
    opacity:0;
}
  
    /* Images
–––––––––––––––––––––––––––––––––––––––––––––––––– */

  #right-top-image {
    position: absolute;
    z-index: 2;
    margin-top: 2%;
    left: 2vw;
    width: 50vw;
    box-shadow: -3px -6px 3px rgba(0, 0, 0, 0.315);
  }

  #right-middle-image {
    position: relative;
    margin-left: 50vw;
    width: 45vw;
    box-shadow: -3px -6px 3px rgba(0, 0, 0, 0.315);
  }

  #right-bottom-image {
    position: relative;
    z-index: 3;
    width: 80vw;
    width: 48vw;
    margin-left: 15%;
    margin-top: -2vh;
    box-shadow: -3px -6px 3px rgba(0, 0, 0, 0.315);
  }

  #left-top-image {
    position: absolute;
    z-index: 2;
    margin-left: 45%;
    width: 50vw;
    box-shadow: -3px -6px 3px rgba(0, 0, 0, 0.315);
  }

  #left-middle-image {
    position: relative;
    left: 3vw;
    margin-top: 3%;
    z-index: 1;
    width: 48vw;
    box-shadow: -3px -6px 3px rgba(0, 0, 0, 0.315);
  }

  #left-bottom-image {
    position: relative;
    width: 45vw;
    margin-top: -10vh;
    z-index: 3;
    box-shadow: -3px -6px 3px rgba(0, 0, 0, 0.315);
    margin-left: -2vw;
    border: 2px;
  }

  .Thunderball video{
    position: absolute;
    margin-top: 2%;
    left: 2vw;
    width: 50vw;
    box-shadow: -3px -4px 3px rgba(0, 0, 0, 0.315);
  }

      /* BUTTON
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button{
  border: none;
  background: none;
  outline:none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

button:hover {
  transform: scale(1.05);
}

      /* POPUP WINDOW
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.popup1, 
.popup2,
.popup3 {
  background: rgba(100, 100, 100, 0.8);
  position: fixed;
  display: none;
  z-index: 100;
  height: 100%;
  width: 100%;
  top: 0;
}

iframe {
  right: 20vw;
  width: 100%;
  height: 80vh;
  margin-top: 12vh;
}

.popup2 iframe {
  margin-top: -2%;
  height: 55vh;
}

#popup-window {
  position: fixed;
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px rgba(#000000, 0.4);
  width: 80vw;
  height: 92vh;
  left: 10%;
  right: 10%;
  bottom: 4vh;
}

#popup-window h2 {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  font-family: Montserrat;
  font-weight: 300;
  color: #518f81;
}

#popup-text {
  font-size: 2.4vh;
  margin-top: 5vh;
  padding: 3%;
  font-family: Montserrat;
}

#popup-window a {
  font-family: Montserrat;
  font-size: 2.4vh;
  color: #518f81;
  text-decoration: none;

}

#popup-window video {
  margin-left: 10%;
}

      /* Popup button
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.outer {
position: absolute;
top: 3%;
right: 3%;
margin: auto;
width: 8vh;
cursor: pointer;
}

.inner {
width: inherit;
text-align: center;
}

label { 
font-family: Montserrat;  
font-size: 2vh; 
line-height: 3em;
text-transform: uppercase;
color: black;
transition: all .3s ease-in;
opacity: 0;
cursor: pointer;
}

.inner:before, .inner:after {
position: absolute;
content: '';
height: 1px;
width: inherit;
background: #518f81;
left: 0;
transition: all .3s ease-in;
}

.inner:before {
top: 50%; 
transform: rotate(45deg);  
}

.inner:after {  
bottom: 50%;
transform: rotate(-45deg);  
}

.outer:hover label {
opacity: 1;
}

.outer:hover .inner:before,
.outer:hover .inner:after {
transform: rotate(0);
}

.outer:hover .inner:before {
top: 0;
}

.outer:hover .inner:after {
bottom: 0;
}

      /* CONTACT
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    
  #contact-me {
    background: #E8F1EC;
    padding-top: 0.1vh;
  }
  
  #contact {
    text-align: justify;
    display: table;
    width: 100%;
    table-layout: fixed;
  } 

  #contact span {
    display: table-cell;
    text-align: center;
    font-family: Montserrat;
    padding-bottom: 3%;
  }

  .icon p {
    font-size: 2vh;
  }

  .icon a {
    color: black;
    text-decoration: none;
  }

  .icon img {
    height: 15%;
  }

      /* RESPONSIVE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

  @media only screen and (max-width: 700px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    #popup-window video {
      width: 100%;
  }
  }
  
  @media only screen and (min-width: 1030px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    #portrait {
      margin-left: 60vw;
      width: 40vh;
      height: 40vh;
    }

    #img-wrapper {
      margin-left: 60vw;
      width: 40vh;
      height: 40vh;
      margin-top: -40vh;
    }

    #arrow {
      width: 7vw;
      margin-left: 21.5vw;
    }

    #more_info_text {
      margin-top: -35vh;
      text-align: justify;
      font-size: 2.92vh;
    }
  }


 



